{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}
{%block search %}
<form class="d-flex align-items-center h-100" action="{{ path('app_joueur_index') }}" method="GET">
    <div class="input-group">
      <div class="input-group-prepend bg-transparent">
        <i class="input-group-text border-0 mdi mdi-magnify"></i>
</div>
<input type="text" class="form-control bg-transparent border-0" placeholder="Search products">
</div>
</form>
{% endblock %}
{% block body %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Nationality</th>
                        <th>Email</th>
                        <th>Equipe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for joueur in joueurs %}
                    <tr>
                        <td>{{ joueur.nom }}</td>
                        <td>{{ joueur.prenom }}</td>
                        <td>{{ joueur.age }}</td>
                        <td>{{ joueur.nationalite }}</td>
                        <td>{{ joueur.email }}</td>
                        <td>{{ joueur.equipe.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}