{% extends 'base.html.twig' %}

{% block body %}
  <div class="card mx-auto" style="max-width: 600px;">
    <div class="card-header text-center">
      <h1>Edit Reclamation</h1>
    </div>
    <div class="card-body d-flex flex-column align-items-center">
      {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
      <div class="row w-100">
        <div class="col-md-6">
          <div class="form-group mb-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
          </div>
          <div class="form-group mb-3">
            {{ form_label(form.typeReclamation) }}
            {{ form_widget(form.typeReclamation, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.typeReclamation) }}
          </div>
          <div class="form-group mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
          </div>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end">
        <button type="submit" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Save</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}