{% extends 'back-office.html.twig' %}

{% block title %}Reclamations{% endblock %}

{% block body %}
 
  <div class="card-header text-center">
      <h1>Reclamations</h1>
    </div>

<div class="float-right mb-3">
    <a href="{{ path('trier_par_email') }}" class="btn btn-sm height-auto px-4 py-3 btn-primary mr-2">Trier par Email</a>
    <a href="{{ path('trier_par_etat') }}" class="btn btn-sm height-auto px-4 py-3 btn-primary">Trier par Etat</a>
  </div>

  <table class="table table-striped table-striped-bg-default mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Type Reclamation</th>
        <th scope="col">Description</th>
        <th scope="col">Etat</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for reclamation in reclamations %}
        <tr>
          <td>{{ reclamation.email }}</td>
          <td>{{ reclamation.typeReclamation }}</td>
          <td>{{ reclamation.description }}</td>
          <td>{{ reclamation.etat }}</td>
          <td>
            {% if reclamation.etat == "Traité" %}
              <a href="{{ path('reponses') }}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Voir</a>
            {% else %}
              <a href="{{ path('add_reponse', {'id': reclamation.id}) }}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Edit</a>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}