{% extends 'base.html.twig' %}
{% block title %}Reclamations index{% endblock %}
{% block body %}
  <div class="card-group mt-3 row g-3">
    {% for reclamation in reclamations %}
      <div class="col-6">
        <div class="card">
        
          <div class="card-body d-flex justify-content-center align-items-center">
            <p><strong>Email:</strong> {{ reclamation.email }}</p>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center">
            <p><strong>Type Reclamation:</strong> {{ reclamation.typeReclamation }}</p>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center">
            <p><strong>Description:</strong> {{ reclamation.description }}</p>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center">
            <p><strong>Etat:</strong> {{ reclamation.etat }}</p>
          </div>
          <div class="card-body d-flex justify-content-center align-items-center">
            <p>
              <a href="{{ path('edit_reclamations', {'id': reclamation.id}) }}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Edit</a>
            </p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="card">
        <div class="card-body">
          <p>No records found</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <p>
    <a href="{{ path('new_reclamations') }}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Create new</a>
  </p>
{% endblock %}