{% extends 'base2.html.twig' %}

{% block body %}
    <h1>Reclamation Details</h1>

    <p>Email: {{ reclamation.email }}</p>
    <p>Type Reclamation: {{ reclamation.typeReclamation }}</p>
    <p>Description: {{ reclamation.description }}</p>
    <p>Etat: {{ reclamation.etat }}</p>

    <a href="{{ path('add_reponse', {'id': reclamation.id}) }}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Edit</a>
{% endblock %}